body{
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, rgb(182, 47, 70), rgb(255, 255, 255));
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.caixa{
    width: 100%;
    max-width: 530px;
    background: white;
    padding: 24px 28px;
    border-radius: 14px;
    box-shadow: 0 6px 16px black;
}
h1{
    text-align: center;
    margin-bottom: 8px;
    color: brown;
}
.sub{
    text-align: center;
    margin-bottom: 20px;
    font-size: 14px;
    color: rgb(124, 43, 43);
}
#progresso{
    text-align: right;
    font-size: 13px;
    color: rgb(124, 43, 43);
    margin-bottom: 8px;
}
#telaInicial p {
    margin-bottom: 12px;
}
.tela{display: none;}

.tela ativa{display: block;}

.pergunta{
    margin-bottom: 14px;
    font-weight: bold;
    color: saddlebrown;
}
label{
    display: block;
    margin-bottom: 6px;
    cursor: pointer;
    color: rgb(182, 47, 70);
}
